@font-face {
    font-family: "Quicksand";
    src: url('./fonts/Quicksand/Quicksand-Light.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Quicksand";
    src: url('./fonts/Quicksand/Quicksand-Medium.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url('./fonts/Roboto/Roboto-Light.woff2 format') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url('./fonts/Roboto/Roboto-Medium.woff2 format') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


:root {
    --color-white: #FFFFFF;
    --color-dark-gray-blue: #8D96BD;
    --color-dark-blue: #3D4F9F;
    --color-light: #DFE2EF;
    --color-light-blue-alternative: #F4F7FF;
    --border-radius: 2px;
    --border-radius-button: 50%;
    --border-radius-form: 5px;
    --font-family-base: "Quicksand", sans-serif;
    --font-family-accent: "Roboto", sans-serif;
    --height-buttons: 43px;

    --button-border: 1px solid #D1D1E4;
    --button-color-blue: #4C85FF;
    --button-color-alternative: #D2E1FF;
    --button-padding: 13px 16px;

    --transiton-duration: 0.2s;


}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    background-color: var(--color-white);
    font-family: var(--font-family-base);
    color: var(--color-dark-gray-blue);
    font-size: 15px;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--color-dark-blue);
    font-family: var(--font-family-base);
    font-weight: 700;
}

h5 {
    color: var(--color-dark-blue);
    font-family: var(--font-family-base);
    text-transform: uppercase;
}

/* HEADER */

.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    
    padding: 19px 0;
    padding-inline: 117px;
}

.navigation-list {
    display: flex;
    list-style-type: none;
    column-gap: 42px;
}

.navigation-user-list {
    display: flex;
    list-style-type: none;
    column-gap: 35px;
}

.navigation-link {
    text-decoration: none;
    font-weight: 700;
}

.active-navigation-link {
    color: #3A79FF;
}

.navigation {
    display: flex;
    justify-content: space-between;
    min-width: 950px;
}

.header-button {
    background-color: var(--button-color-alternative);
    padding: var(--button-padding);
    border: none;
    color: #3A79FF;
    font-size: 13px;
    font-weight: 700;
    border-radius: var(--border-radius);
    cursor: pointer;
}


/* HERO */

.hero {
    background-color: var(--color-light-blue-alternative);
    background-image: url('./images/index-images/background-hero-img.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 92px 0 212px;
}

.hero-background-img {
    background-image: url('./images/index-images/clouds-image-hero-backgroundn.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title-subtitle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title-subtitle-wrapper h2 {
    font-size: 48px;
}

.hero-text-inner-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.hero-text-subtitle {
    width: 480px;
    margin-top: 28px;
    font-weight: 400;
    letter-spacing: 0.45px;
}

.hero-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border: none;
    padding: 21px;
    border-radius: var(--border-radius-button);
    margin-top: 20px;
    cursor: pointer;
}

/* CUSTOMERS */

.customers-list-logo {
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 76px;
    justify-content: center;
    padding: 58px 0;
}


/* plan-manage */

.plan-manage {
    background-color: var(--color-light-blue-alternative);
}

.plan-manage-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    padding: 150px 0;
}

.plan-manage-text {
    max-width: 413px;
}

.plan-manage-text h5 {
    margin-top: 27px;
}

.plan-manage-wrapper-text h2 {
    font-size: 36px;
}

.text-plan-manage {
    margin-top: 27px;
    margin-bottom: 47px;
}

.plan-manage-wrapper-text h2 span {
    font-weight: normal;
}

.

.plan-manage-buttons-wrapper {
    display: inline-block;
}

.plan-manage-btn {
    background-color: var(--button-color-blue);
    display: inline-block;
    border: none;
    height: var(--height-buttons);
    padding-inline: 25px;
    color: var(--color-white);
    font-family: Quicksand;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
}

.no-border-btn-plan-manage {
    background-color: inherit;
    color: #ADB4D2;
    border: var(--button-border);
}

.plan-manage-btn-icon::after {
    content: "";
    display: inline-block;
    width: 6.5px;
    height: 7px;
    background-image: url('./icons/icon-plan-manage-button.svg');
    background-repeat: no-repeat;
    margin-left: 6px;
}