@font-face {
    font-family: "Quicksand";
    src: url('./fonts/Quicksand/Quicksand-Light.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Quicksand";
    src: url('./fonts/Quicksand/Quicksand-Medium.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url('./fonts/Roboto/Roboto-Light.woff2 format') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Roboto";
    src: url('./fonts/Roboto/Roboto-Medium.woff2 format') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


:root {
    --color-white: #FFFFFF;
    --color-dark-gray-blue: #8D96BD;
    --color-dark-blue: #3D4F9F;
    --color-light: #DFE2EF;
    --color-light-blue-alternative: #F4F7FF;
    --border-radius: 2px;
    --border-radius-button: 50%;
    --border-radius-form: 5px;
    --font-family-base: "Quicksand", sans-serif;
    --font-family-accent: "Roboto", sans-serif;
    --height-buttons: 43px;

    --button-border: 1px solid #D1D1E4;
    --button-color-blue: #4C85FF;
    --button-color-alternative: #D2E1FF;
    --button-padding: 13px 16px;

    --transiton-duration: 0.2s;


    --section-color-alternative: #5e81fff5;

}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

img {
    display: block;
}

body {
    background-color: var(--color-white);
    font-family: var(--font-family-base);
    color: var(--color-dark-gray-blue);
    font-size: 15px;
}


h1, h2, h3, h4, h5, h6 {
    color: var(--color-dark-blue);
    font-family: var(--font-family-base);
    font-weight: 700;
}

h5 {
    color: var(--color-dark-blue);
    font-family: var(--font-family-base);
    text-transform: uppercase;
}

/* HEADER */

.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    
    padding: 19px 0;
    padding-inline: 117px;
}

.navigation-list {
    display: flex;
    list-style-type: none;
    column-gap: 42px;
}

.navigation-user-list {
    display: flex;
    list-style-type: none;
    column-gap: 35px;
}

.navigation-link {
    text-decoration: none;
    font-weight: 700;
    color: var(--color-dark-gray-blue);
}

.active-navigation-link {
    color: #3A79FF;
}

.navigation {
    display: flex;
    justify-content: space-between;
    min-width: 950px;
}

.header-button {
    background-color: var(--button-color-alternative);
    padding: var(--button-padding);
    border: none;
    color: #3A79FF;
    font-size: 13px;
    font-weight: 700;
    border-radius: var(--border-radius);
    cursor: pointer;
}


/* HERO */

.hero {
    background-color: var(--color-light-blue-alternative);
    background-image: url('./images/index-images/background-hero-img.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 92px 0 212px;
}

.hero-background-img {
    background-image: url('./images/index-images/clouds-image-hero-backgroundn.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title-subtitle-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title-subtitle-wrapper h2 {
    font-size: 48px;
}

.hero-text-inner-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.hero-text-subtitle {
    width: 480px;
    margin-top: 28px;
    font-weight: 400;
    letter-spacing: 0.45px;
}

.hero-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-white);
    border: none;
    padding: 21px;
    border-radius: var(--border-radius-button);
    margin-top: 20px;
    cursor: pointer;
}

/* CUSTOMERS */

.customers-list-logo {
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 76px;
    justify-content: center;
    padding: 58px 0;
}


/* plan-manage */

.plan-manage {
    background-color: var(--color-light-blue-alternative);
}

.plan-manage-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
    padding: 150px 0;
}

.plan-manage-text {
    max-width: 413px;
}

.plan-manage-wrapper-text {
    margin-top: 27px;
}

.plan-manage-wrapper-text h2 {
    font-size: 36px;
}

.img-plan-manage {
    box-shadow: 2px 5px 15px;
    border-radius: 20px;
}

.text-plan-manage {
    margin-top: 27px;
    margin-bottom: 47px;
}

.plan-manage-wrapper-text h2 span {
    font-weight: normal;
}


.plan-manage-buttons-wrapper {
    display: inline-block;
}

.plan-manage-btn {
    background-color: var(--button-color-blue);
    display: inline-block;
    border: none;
    height: var(--height-buttons);
    padding-inline: 25px;
    color: var(--color-white);
    font-family: Quicksand;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    border-radius: var(--border-radius);
}

.no-border-btn-plan-manage {
    background-color: inherit;
    color: #ADB4D2;
    border: var(--button-border);
}

.plan-manage-btn-icon::after {
    content: "";
    display: inline-block;
    width: 6.5px;
    height: 7px;
    background-image: url('./icons/icon-plan-manage-button.svg');
    background-repeat: no-repeat;
    margin-left: 6px;
}


/* FEATURES */

.features {
    background-image: url("./images/index-images/clouds-features.png");
    background-repeat: no-repeat;
    background-position: center;
}

.features-list {
    display: grid;
    grid-template-columns: repeat(4, 140px);
    grid-template-rows: auto;
    list-style-type: none;
    column-gap: 68px;
}

.features-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 33px;
    position: relative;
}

.features-list-item:not(:first-child)::before {
    content: "";
    width: 28px;
    height: 1px;
    position: absolute;
    background-color: #DAE4FE;
    top: 60%;
    left: -34%;
}

.features-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.title-features h2 {
    margin-top: 20px;
}

.features-text-title {
    color: var(--button-color-blue);
    font-family: sans-serif;
    font-weight: 700;
}

.features-text-subtitle {
    font-weight: 600;
    font-size: 12px;
    color: #ADB3CB;
}

.features-wrapper-content {
    display: flex;
    flex-direction: column;
    max-width: 761px;
    margin: 0 auto;
    gap: 92px;
    text-align: center;
    padding: 171px 0;
}



.features-button span::before {
    content: "";
    width: 15px;
    height: 2px;
    position: absolute;
    background-color: #DAE4FE;
    top: 50%;
    right: 30px;
}
.features-button span::after {
    content: "";
    width: 15px;
    height: 2px;
    position: absolute;
    background-color: #DAE4FE;
    top: 50%;
    left: 30px;
}

.features-read-more-btn {
    padding: 13px 16px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.red-btn-features {
    background-color: #FFD7D7;
    color: #D43F3F;
    font-weight: 700;
    margin-right: 32px;
}

.blue-btn-features {
    background-color: #D2E1FF;
    color: #3A79FF;
    font-weight: 700;
    margin-left: 32px;
}

.features-button span {
    position: relative;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 600;
}


/* STATS */

.stats-block-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style-type: none;
}

.stats-block-item {
    padding: 66px 90px 66px;
}

.inner-wrapper-block-stats {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 260px;
}

.blue-stats-block {
    background-color: var(--section-color-alternative);
    color: var(--color-white);
    display: flex;
    justify-content: end;
    text-align: end;
    padding: 66px 90px;
}

.light-blue-stats-block {
    background-color: #EAF0FF;
    color: var(--button-color-blue);
}


.stats-title {
    font-size: 48px;
    font-weight: 400;
}

.stats-subtitle {
    letter-spacing: 0.52px;
    font-size: 18px;
    font-weight: 600;
}

/* BLOG */
.blog {
    background-color: #F5F8FF;
    padding: 99px 0 104px;
}

.blog-title {
    text-align: center;
    
}

.blog-title h3 {
    font-size: 24px;
    margin-top: 20px;
}

.blog-content-wrapper {
    display: flex;
    max-width: 958px;
    margin: 0 auto;
    background-color: var(--color-white);
    padding: 63px 40px;
    border: 1px solid #D8E3FE;
    box-shadow: 2px 4px 10px;
    position: relative;
    margin-top: 92px;
    border-radius: 20px;
    column-gap: 67px;
    
}

.blog-content-text-btn {
    display: flex;
    flex-direction: column;
    max-width: 408px;
    gap: 31px;
}

.blog-content-illustration {
    max-width: 407px;
}

.blog-illustration-list {
    display: flex;
    column-gap: 13px;;
}

.blog-illustration-item {
    display: flex;
    flex-direction: column;
    gap: 13px;
}


.blog-img {
    border-radius: 5px;
}

.blog-content-buttons {
    display: flex;
    gap: 8px;
}
.read-now-btn-blog {
    display: inline-block;
    padding: 13px 16px;
    background-color: var(--button-color-alternative);
    border-radius: var(--border-radius);
    text-decoration: none;
    font-weight: 700;
    color: var(--button-color-blue);
}
  
.add-bookmarks-btn-blog {
    display: inline-block;
    padding: 13px 16px;
    background-color: inherit;
    text-decoration: none;
    font-weight: 700;
    color: var(--color-dark-gray-blue);
}
  

.blog-content-title {
    font-size: 36px;
    font-family: var(--font-family-base);
    font-weight: 500;
}

.blog-content-subtitle {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.52px;
    color: var(--color-dark-gray-blue);
    line-height: 26px;
}

.blog-arrow-list-back {
    content: "";
    position: absolute;
    background-image: url('./images/index-images/blog-arrow-back.svg');
    background-repeat: no-repeat;
    width: 27px;
    height: 19px;
    left: -100px;
    top: 50%;
    transform: translateY(-50%);
}

.blog-arrow-list-next {
    content: "";
    position: absolute;
    background-image: url('./images/index-images/block-arrow-next.svg');
    background-repeat: no-repeat;
    width: 27px;
    height: 19px;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
}



.blog-range-list {
    display: flex;
    list-style-type: none;
    gap: 12px;
    justify-content: center;
    padding-top: 101px;
}

.blog-range-item {
    display: block;
    width: 8px;
    background-color: #D1D6E3;
    height: 8px;
    border-radius: 50%;
}

.add-blog {
    background-color: var(--button-color-blue);
}




/* QUOTES */

.quotes {
    background-color: #EAF0FF;
}

.quotes-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 132px;
    padding: 120px 0 95px;
}

.quotes-list-range {
    display: flex;
    list-style-type: none;
    gap: 12px;
    justify-content: center;
}

.quotes-item-range {
    display: block;
    width: 8px;
    height: 8px;
    background-color: #D1D6E3;
    border-radius: 50%;
}

.add-quotes-range {
    background-color: var(--button-color-blue);
}

.first-block-quotes {
    display: flex;
    flex-direction: column;
    max-width: 423px;
    gap: 45px;
}

.text-inner-wrapper p {
    background-color: var(--color-white);
    padding: 40px 70px;
    border-radius: 5px;
    font-family: var(--font-family-accent);
    letter-spacing: 0.52px;
    font-size: 14px;
    line-height: 24px;
    box-shadow: 1px 1px 9px;
}

.img-qutes-first {
    position: relative;
    top: -25px;
    margin: 0 auto;
}

.title-quotes {
    display: flex;
    flex-direction: column;
    max-width: 333px;
}

.title-quotes h2 {
    font-size: 36px;
    margin-top: 31px;
}

.quotes-subtitle {
    margin-top: 14px;
}

/* GET-STARTED */

.get-started {
    background-color: var(--section-color-alternative);
    background-image: url('./images/index-images/clouds-get-started.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.get-started-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 712px;
    color: var(--color-white);
    text-align: center;
    gap: 28px;
    padding: 72px 0 56px;
}

.get-started-buttons {
    display: flex;
    margin: 0 auto;
    margin-bottom: 35px;
}

.get-started-btn-white {
    padding: 13px 17px;
    display: inline-block;
    background-color: var(--color-white);
    text-decoration: none;
    border-radius: 2px 0 0 2px;
    color: #565F82;
    font-weight: 700;
    font-family: var(--font-family-base);
}

.get-started-btn-interiht {
    text-decoration: none;
    border: 1px solid #C7D3FF;
    padding: 13px 8px;
    border-radius: 0 2px 2px 0;
    color: #C7D3FF;
    font-weight: 700;
    font-family: var(--font-family-base);
}

.get-started-text-wrapper h2 {
    color: var(--color-white);
}
.get-started-text-wrapper h5 {
    color: var(--color-white);
}

.get-started-text-wrapper h2 {
    margin-top: 16px;
    font-size: 48px;
    font-weight: 400;
}

.get-started-subtitle {
    line-height: 29px;
    letter-spacing: 0.52px;
}

.get-started-text-wrapper h2 span {
    font-weight: 700;
}

/* NEWSLETTER */

.newsletter {
    background-color: #FCFDFF;
}

.newsletter-content {
    display: flex;
    align-items: center;
    max-width: 887px;
    margin: 0 auto;
    padding: 119px 0;
    justify-content: space-between;
}

.newsletter-text {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    gap: 18px;
}

.field {
    padding: 21px 80px 21px 23px;
    border-radius: 5px;
    border: none;
    background-color: #EFEFF7;
    font-family: var(--font-family-accent);
    font-weight: 700;
    color: #7A85AD;
}

.news-letter-form {
    display: flex;
    gap: 14px;
}

.news-letter-form-button {
    padding: 21px 45px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-color-blue);
    color: var(--color-white);
    font-size: 13px;
    cursor: pointer;
}

.news-letter-title {
    font-size: 18px;
    text-transform: none;
    font-family: var(--font-family-accent);
    font-weight: 700;
    
}

.news-letter-subtitle {
    line-height: 191.016%;
    letter-spacing: 0.42px;
}


/* PAGE-FOOTER */

.page-footer {
    border-top: 1px solid #D8E3FE;
    padding: 93px 0;
}

.page-footer-navigation-wrapper {
   display: flex;
   align-items: center;
   max-width: 1206px;
   margin: 0 auto;
   justify-content: space-between;
}

.footer-navigation {
    display: flex;
    padding-inline: 73px 44px;
    gap: 390px;
   
}

.footer-navigation-list {
    display: flex;
    list-style-type: none;
    gap: 42px;
}

.footer-navigation-user-list {
    display: flex;
    list-style-type: none;
    gap: 35px;
}

.navigation-user-wrapper,
.navigation-list-wrapper {
    display: flex;
}

.copyright {
    margin-left: 229px;
    margin-top: 42px;
}